@use "../abstracts/" as *;

:root {
    @each $color, $shade-map in $colors {
        @each $shade, $shade-value in $shade-map {
            --#{$color}-#{$shade}: #{$shade-value};
        }
    }

    // font sizes custom properties
    @each $screen-size, $font-size-map in $font-sizes {
        @if ($screen-size == small) {
            @each $font-size-name, $font-size-value in $font-size-map {
                --fs-#{$font-size-name}: #{$font-size-value};
            }
        } @else {
            @include mq($screen-size) {
                @each $font-size-name, $font-size-value in $font-size-map {
                    --fs-#{$font-size-name}: #{$font-size-value};
                }
            }
        }
    }

    // line heights custom properties
    @each $screen-size, $line-height-map in $line-heights {
        @if ($screen-size == small) {
            @each $line-height-name, $line-height-value in $line-height-map {
                --lh-#{$line-height-name}: #{$line-height-value};
            }
        } @else {
            @include mq($screen-size) {
                @each $line-height-name, $line-height-value in $line-height-map
                {
                    --lh-#{$line-height-name}: #{$line-height-value};
                }
            }
        }
    }

    // sections custom properties
    --header-padding-block-start: 2.3125rem;
    @include mq(large) {
        --header-padding-block-start: 3.61125rem;
    }
    --hero-section-padding-block: 8.125rem 9.8125rem;
    @include mq(medium) {
        --hero-section-padding-block: 7.625rem 12.7rem;
    }
    @include mq(large) {
        --hero-section-padding-block: 9.125rem 20.275rem;
    }

    --about-section-padding-block: 10rem 4.5rem;
    @include mq(medium) {
        --about-section-padding-block: 12.75rem 6.5rem;
    }
    @include mq(large) {
        --about-section-padding-block: 15.9375rem 10.6875rem;
    }

    --testimonial-section-padding-block: 6.25rem 4.625rem;
    @include mq(medium) {
        --testimonial-section-padding-block: 6.25rem 5rem;
    }
    @include mq(large) {
        --testimonial-section-padding-block: 6.875rem 7.61rem;
    }
    // cards custom properties
    --card-body-padding: 2rem;
    @include mq(medium) {
        --card-body-padding: 3.5rem;
    }
    @include mq(large) {
        --card-body-padding: 4rem;
    }

    // containers custom properties
    --container-inline-padding: 1rem;
    @include mq(medium) {
        --container-inline-padding: 2.5rem;
    }
}
