@use "sass:map";
@use "sass:meta";
@use "sass:math";
@use "breakpoints" as *;

@mixin mq($size) {
    @if (map.has-key($breakpoints, $size)) {
        $breakpoint: map.get($breakpoints, $size);
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    } @else if meta.type-of($size) == number {
        @if (math.is-unitless($size)) {
            @error "When using a number with @mq() make sure to include the units.";
        } @else {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    } @else {
        @error "The keyword #{$size} is not in the $breakpoints map.";
    }
}

%pseudobg {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

@mixin pseudo-bg($bg-color, $clip-path: none, $beforeOrAfter: before) {
    position: relative;

    @if $beforeOrAfter == before {
        &::before {
            @extend %pseudobg;
            background-color: $bg-color;
            @if $clip-path {
                clip-path: $clip-path;
            }
        }
    } @else {
        &::after {
            @extend %pseudobg;
            background-color: $bg-color;
            @if $clip-path {
                clip-path: $clip-path;
            }
        }
    }
}
