@use "../abstracts/" as *;

.card {
    display: grid;
    position: relative;
    justify-items: $card-justify-items;
    align-items: center;
    gap: $card-flow-spacing;
    padding: $card-body-padding;
    background-color: $card-background-default;
    font-family: $card-font-family;
    color: $card-color-default;
    line-height: $card-line-height;
    border-radius: $card-border-radius;
    box-shadow: $card-box-shadow;

    @include mq(medium) {
        justify-items: start;
    }

    &__heading {
        color: $card-heading-color-default;
        font-family: $card-heading-font-family;
        font-size: $card-heading-font-size;
        text-transform: $card-heading-text-transform;
        font-weight: $card-heading-font-weight;
        line-height: $card-heading-line-height;
    }

    &__content {
        text-align: $card-content-text-align;
        @include mq(medium) {
            text-align: start;
        }
    }

    &__button {
        margin-block-start: $card-button-margin-block-start;
    }

    &__pattern {
        display: none;
        @include mq(medium) {
            display: block;
            position: absolute;
            bottom: -6.5625rem;
            right: .75rem;
        }

        @include mq(large) {
            bottom: -3.8586rem;
            right: 4.54rem;
        }
    }
}
