@use "../abstracts/" as *;

.header {
    position: relative;
    &__container {
        padding-block-start: $header-padding-block-start;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    &__logo {
        width: 5.9375rem;
        height: 1.5625rem;
    }
}
