@use "../abstracts/" as *;

.hero-section {
    padding-block: $hero-padding-block;
    position: relative;
    &.top-background-layer {
        background-color: $hero-section-background-color;
        clip-path: ellipse(100% 100% at 50% 0%);
    }
    .bottom-background-layer {
        background-color: $hero-section-bottom-background-color;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
