@use "../abstracts/" as *;

.hero-section {
    position: relative;
    &__background {
        background-color: $hero-section-background-color;
        clip-path: ellipse(180% 100% at 50% 0%);
    }
    &__content {
        padding-block: $hero-padding-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        --flow-spacer: #{$size-9};
    }
    &__pattern {
        position: absolute;
        bottom: 50%;
        display: none;
        &[data-type="left"] {
            transform: translateY(50%);
            left: -13.75rem;
            @include mq(large) {
                transform: translateY(20%);
                left: -11.25rem;
            }
        }
        &[data-type="right"] {
            transform: translateY(100%);
            right: -6rem;
            @include mq(large) {
                right: -4rem;
            }
        }
        @include mq(medium) {
            display: block;
        }
    }
    &__image {
        position: absolute;
        bottom: -5.875rem;
        left: 50%;
        transform: translateX(-50%);
        max-width: 21.875rem;
        @include mq(medium) {
            bottom: -8.875rem;
            max-width: 30rem;
        }
        @include mq(large) {
            max-width: 44.68rem;
        }
    }
}
