@use "../abstracts/" as *;

.testimonial {
    padding-block: $testimonial-section-padding;
    margin-inline: auto;
    max-width: 440px;
    @include mq(medium) {
        max-width: 840px;
    }
    &__content {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        @include mq(medium) {
            grid-template-rows: repeat(40, 1fr);
            grid-template-columns: repeat(40, 1fr);
        }
    }
    &__image-container {
        margin-inline: $testimonial-image-inline;
        grid-row: 1 / 6;
        grid-column: 1 / 1;
        @include mq(medium) {
            margin-inline: unset;
            grid-row: 1 / 20;
            grid-column: 1 / 16;
        }
    }
    &__card {
        grid-row: 5 / 11;
        grid-column: 1 / 1;
        @include mq(medium) {
            grid-row: 14 / 41;
            grid-column: 10 / 41;
        }
    }
}